@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'helvetic';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype'),
       url('../fonts/HelveticaNeue-LightCondObl.otf') format('opentype'),
       url('../fonts/HelveticaNeue-LightExt.otf') format('opentype'),
       url('../fonts/HelveticaNeue-LightExtObl.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetic 75';
  src:  url('../fonts/HelveticaNeueCondensedBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.helvetic-Head-font {
  font-family: 'helvetic 75', sans-serif;
  font-weight: 800;
}
.helvetic-sub-title-font {
  font-family: 'helvetic 75', sans-serif;
  font-weight: 600;
}
.helvetic-sub-title-sub-font {
  font-family: 'helvetic 75', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'helvetic', sans-serif;
  font-weight: 500;
  letter-spacing: 0.8px;
}



.background-image-home-page {
  background-image: url('https://www.zohowebstatic.com/sites/zweb/images/crmplus/images/zcplus-zia-bg.webp');
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* This will ensure the background image covers the entire area */
  height: fit-content;
  width: 100%;
}


