
.animated-box-fade {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 0.6s ease-out forwards;

}
.animated-box-fade-2s {
    animation-delay: .4s;
}
.animated-box-fade-4s {
    animation-delay: .8s;
}

.animated-box-fade-6s {
    animation-delay: 01.5s;
}

.animated-box-fade-8s {
    animation-delay: 2s;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* zoom in animation effect in banner  */
/* Basic reset */


/* Container for the zoom effect */
.zoom-in-box {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: scale(0.8);
    opacity: 0;
    animation: zoomIn 1.5s forwards ease-in-out 0.3s;
}

/* Animation keyframes */
@keyframes zoomIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Hover effect (optional) */
.zoom-in-box:hover {
    transform: scale(1.1);
}

/* zoom in animation effect in banner  */

/* navbar fade-in animation   */
.fade-in {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInTop .8s ease-in-out forwards;
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* navbar fade-in animation   */